<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Inicia Sesion</mat-card-title>
      </mat-card-header>
  
      <form class="example-form" action="#" method="post">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="Usuario" required>
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input type="password" matInput placeholder="Contraseña" required>
          </mat-form-field>
        </mat-card-content>
        <button type="submit" mat-stroked-button color="accent" class="btn-block">Entrar</button>
      </form>
    </mat-card>
  
  </div>
